<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <div>
                <input type="text" placeholder="username" v-model="username">
                <br>
                <textarea name="" id="" cols="30" rows="10" v-model="address"></textarea>
                <br>
                <label for="">Gender</label>
                <br>
                <input type="radio" value="pria" v-model="gender">pria
                <input type="radio" value="wanita" v-model="gender">wanita
                <br>
                <label for="">Hobby</label>
                <br>
                <label for="">Badminton</label>
                <input type="checkbox" value="badminton" v-model="hobbies">
                <br>
                <label for="">volly</label>
                <input type="checkbox" value="volly" v-model="hobbies">
                <br>
                <label for="">takraw</label>
                <input type="checkbox" value="takraw" v-model="hobbies">
                <br>
                <label for="role">role</label>
                <select name="" id="" v-model="role">
                    <option disabled value="">pilih satu</option>
                    <option value="staff">Staff</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div>
                <p>username : {{username}}</p>
                <p>address : {{address}}</p>
                <p>gender : {{gender}}</p>
                <div>
                    <p>hobbies :</p>
                    <ul v-for="item in hobbies">
                        <li>{{item}}</li>
                    </ul>
                </div>
                <p>role : {{role}}</p>
            </div>
        </div>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

            createApp({
                data() {
                    return {
                        username: '',
                        address: '',
                        gender: '',
                        hobbies: [],
                        role: ''
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>
